<h1>HW8 - Posts and Comments</h1>

<div class="post__container">
  <div id="posts">
    <ul>
      <li *ngFor="let post of posts">
        <button (click)="onSelectPost(post)">{{ post.title }}</button>
      </li>
    </ul>
  </div>

  <h2>Comments for "{{ getPostTitle() }}"</h2>
  <div *ngIf="comments && comments.length">
    <ul>
      <li *ngFor="let comment of comments">
        <h3>{{ comment.name }}</h3>
        <p>{{ comment.body }}</p>
        <p><em>by {{ comment.email }}</em></p>
      </li>
    </ul>
  </div>
  <div *ngIf="!comments || comments.length === 0">
    <p>No comments found.</p>
  </div>

</div>

<button id="back-btn" (click)="goBack()">go back</button>
